<!-- <nb-card [nbSpinner]="loading">
    <nb-card-header>
        <div class="row">
            <div class="col">
                Campaigns
            </div>
            <div class="col"></div>

            <div class="col">
                <button nbButton status="primary" (click)="goToCreateMessage()" *ngIf="!isPartner">
                    <nb-icon icon="plus"></nb-icon>Send new campaign {{test}}
                </button>
            </div>
        </div>

    </nb-card-header>
    <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="messageCampaigns" (userRowSelect)="onUserRowSelect($event)"></ng2-smart-table>
    </nb-card-body>
</nb-card> -->
{{test}}